* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: whitesmoke;
}

.view-high-score {
   padding: 10px;
   margin: 30px;
   font-size: large;
   color: blueviolet;

}
.hide-landing-page {
  display: none;
}

.timer {
  text-align: right;
  padding: 15px;
  margin-bottom: 10px;
  font-size: large;
  color: blueviolet;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.info-description {
  width: 550px;
}

.title {
  margin-bottom: 15px;
}

.para {
  margin-bottom: 15px;
  font-size: 20px;
}

.button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


#question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;
}

#question-one {
 box-sizing: border-box;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

#buttonlist-1 {
 display: flex;
 flex-direction: column;

}

.optionbutton {
  padding: 10px 15px;
  font-weight: 300;
  background: darkslateblue;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
  width: 200px;
}

.headingquestion {
  padding: 30px;
}

